* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: roboto;
}
img {
  width: 100%;
}
:root {
  --pink: #f62746;
  --white: #fff;
  --black: #000000;
  --ash: #1e1e1e;
  --silver: rgba(198, 201, 216, 0.75);
}
a:active {
  background-color: transparent !important;
}
